@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-back: theme(--color-white);
  --color-back-dark: theme(--color-neutral-900);

  --color-button: theme(--color-gray-200);
  --color-button-dark: theme(--color-neutral-400);

  --color-font: theme(--color-black);
  --color-font-dark: theme(--color-white);

  --color-border: theme(--color-gray-300);
  --color-border-dark: theme(--color-neutral-600);

  --color-border-letter: theme(--color-gray-800);
  --color-border-letter-dark: theme(--color-neutral-400);

  --color-guessed: theme(--color-neutral-500);
  --color-guessed-dark: theme(--color-neutral-700);

  --color-correct: #6aaa64;
  --color-correct-dark: #538d4e;

  --color-present: #c9b458;
  --color-present-dark: #b59f3b;

  --color-back-secondary: theme(--color-neutral-100);
  --color-back-secondary-dark: theme(--color-neutral-800);

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25%,
    75% {
      transform: translateX(-0.5rem);
    }
    50% {
      transform: translateX(0.5rem);
    }
  }

  @keyframes pop-in {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  @keyframes rotate {
    0%,
    100% {
      transform: scaleY(1);
    }

    50% {
      transform: scaleY(0.02);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100%;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --animate-shake: shake 0.25s linear;
  --animate-pop-in: pop-in 0.1s linear;
  --animate-rotate: rotate 0.35s linear;
  --animate-fade-in: fade-in 0.2s linear;
  --animate-spin: spin 1.5s linear infinite;
}

@layer components {
  body,
  html {
    overflow-x: hidden;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  html {
    @apply bg-back dark:bg-back-dark;
  }

  button {
    @apply cursor-pointer;
  }

  .input-element {
    @apply w-full flex justify-between border-b border-border dark:border-border-dark py-3 items-center;
  }

  .h-screen-dynamic {
    height: 100dvh;
  }

  .max-h-screen-dynamic {
    max-height: 100dvh;
  }

  .loader {
    @apply border-5 border-neutral-300 border-t-neutral-500 rounded-full aspect-square h-full animate-spin dark:border-neutral-500 dark:border-t-neutral-300;
  }
}

@plugin 'tailwind-scrollbar';
